# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\ibrah\OneDrive\Documents\GitHub\Spring-Boot-and-Hibernate-Chad-Darby-Class\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
